.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.App .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 80%;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.App .SearchLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
}

.App .SearchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 32px;

    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.App .SearchBar input {
    width: 72%;
}

.App .SearchBar button {
    width: fit-content;
}
